<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div class="container-fluid" sec:authorize="isAuthenticated()">
    <h2 class="text-center">Account details</h2>
  &nbsp;
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: <span sec:authentication="name"></span><a class="float-end"> Update </a></li>
        <li class="list-group-item">Email: <span sec:authentication="principal.user.email"></span><a class="float-end"> Update </a></li>
        <li class="list-group-item">Phone: <span sec:authentication="principal.user.phoneNumber"></span><a class="float-end"> Update </a></li>
        <li class="list-group-item">Address: <span sec:authentication="principal.user.address"></span><a class="float-end"> Update </a></li>
        <li class="list-group-item">Profile Image: <span sec:authentication="principal.user.profileImage"></span><a class="float-end"> Update </a></li>
    </ul>
    <button class="m-3 btn-primary" onclick="back()">Return Home</button>
</div>

<script type="text/javascript">
    function back(){
        window.location ="[[@{/home}]]";
    }
</script>

</body>
</html>