<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div class="container-fluid text-center">
    <div sec:authorize="isAuthenticated()">
        <h2> Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i></h2>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
    <span sec:authorize="hasAnyAuthority('admin')">
        <a class="h2" href="/users">Manage Users</a>
        <a class="h2" href="/products">Manage Products</a>
    </span>
    <span sec:authorize="hasAnyAuthority('user')">
        <a class="h2" href="/">View account details</a>
        <a class="h2" href="/products">Buy Products</a>
    </span>

</div>


</body>
</html>