<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div class="container-fluid text-center">
    <h1>Users</h1>
    <a class="h3 mb-3" th:href="@{/home}">Home</a>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Date of birth</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Role</th>
                <th>Image</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${listUsers}">
                <tr>
                    <td>[[${user.idUser}]]</td>
                    <td>[[${user.name}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.dateOfBirth}]]</td>
                    <td>[[${user.phoneNumber}]]</td>
                    <td>[[${user.address}]]</td>
                    <td></td>
                    <td><img th:src="@{${'/users/displayImage/'+ user.idUser}}" alt=""></td>
                    <td>[[${user.enabled}]]</td>
                    <td>
                        <span sec:authorize="hasAnyAuthority('admin')">
                            <a class="button btn-success m-1" th:href="@{'/users/edit/' + ${user.idUser}}">Edit</a>
                            <a class="button btn-danger m-1" th:href="@{'/users/delete/' + ${user.idUser}}">Delete</a>
                            <a class="button btn-success m-1" th:href="@{'/users/editImage/' + ${user.idUser}}">Update Image</a>
                            <a class="button btn-success m-1" th:href="@{'/users/editAddress/' + ${user.idUser}}">Update address</a>
                        </span>

                        <span th:if="${user.roles != 'admin'}">

                        </span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>


</body>
</html>